<div class="modal show" tabindex="-1" role="dialog" @attributes="@AdditionalAttributes">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New task</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <EditForm EditContext="@_context">
                    <DataAnnotationsValidator/>

                    <div class="form-group">
                        <label>Title</label>
                        <InputText class="form-control" bind-Value="@_task.Title"
                            ValueExpression="() => _task.Title"/>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <InputText class="form-control" bind-Value="@_task.Description"
                            ValueExpression="() => _task.Description"/>
                    </div>
                </EditForm>

                <p>@_task.Title</p>
                <p>@_task.Description</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" type="button" @onclick="@Submit">Save changes</button>
            </div>
        </div>
    </div>
</div>
