<div class="card position-relative" @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Todo.Content.Title))
    {
        <div class="card-header">
            <h4 class="card-title">@Todo.Content.Title</h4>
            <h6 class="card-subtitle mb-2 text-muted">@Todo.Participants.Author</h6>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Todo.Content.Description))
    {
        <div class="card-body">
            <p class="card-text">@Todo.Content.Description</p>
        </div>
    }

    <ul class="list-group list-group-flush">
        @if (Todo.Deadlines?.SoftDeadline != null)
        {
            <li class="list-group-item">
                Soft deadline: @Todo.Deadlines.SoftDeadline.Value
                (left @(Todo.Deadlines.SoftDeadline.Value - DateTime.Now))
            </li>
        }

        @if (Todo.Deadlines?.HardDeadline != null)
        {
            <li class="list-group-item">
                Hard deadline: @Todo.Deadlines.HardDeadline.Value
                (left @(Todo.Deadlines.HardDeadline.Value - DateTime.Now))
            </li>
        }

        @if (Todo.ExecutionTime != null)
        {
            <li class="list-group-item">
                Time: @(Todo.ExecutionTime?.TimeSpent?.ToString() ?? "-") / @(Todo.ExecutionTime?.EstimatedTime?.ToString() ?? "-")
            </li>
        }

        @if (Todo.Iterations != null)
        {
            var timeSpan = Todo.Iterations.TimePerIteration != null
                ? " (" + Todo.Iterations.TimePerIteration.ToShortString() + ")"
                : "";
            <li class="list-group-item">
                Iterations@(timeSpan): @(Todo.Iterations.Executed.ToString() ?? "-") / @(Todo.Iterations.Required.ToString() ?? "-")
                <button class="btn badge badge-pill badge-success" @onclick="@IncrementIterations">
                    +1
                </button>
            </li>
        }

        @if (Todo.Metrics?.Complexity != null)
        {
            <li class="list-group-item">
                Complexity: @Todo.Metrics.Complexity
            </li>
        }

        @if (Todo.Metrics?.Importance != null)
        {
            <li class="list-group-item">
                Importance: @Todo.Metrics.Importance
            </li>
        }
    </ul>

    <div class="card-footer">
        <button type="button" class="btn btn-link" @onclick="@CardClicked">
            View
        </button>
    </div>
</div>
