<div class="container-fluid" @attributes="@AdditionalAttributes">
    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator/>

        <div class="m-1">
            <ContentSection Content="@Model.Content"/>
        </div>

        <div class="row m-1">
            @foreach (var section in Model.Sections)
            {
                switch (section)
                {
                    case Deadline deadline:
                        <DeadlinesSection Deadline="@deadline" OnRemove="@(() => Model.Sections.Remove(deadline))"/>
                        break;
                    case ExecutionTime executionTime:
                        <ExecutionTimeSection ExecutionTime="@executionTime" OnRemove="@(() => Model.Sections.Remove(executionTime))"/>
                        break;
                    case Iterations iterations:
                        <IterationsSection Iterations="@iterations" OnRemove="@(() => Model.Sections.Remove(iterations))"/>
                        break;
                    case Metric metric:
                        <MetricsSection Metric="@metric" OnRemove="@(() => Model.Sections.Remove(metric))"/>
                        break;
                    default:
                        throw new UnsupportedSectionException(section);
                }
            }

            <AddSection Text="Add deadline" OnClick="@(() => Model.Sections.Add(new Deadline()))"/>
            <AddSection Text="Add execution time" OnClick="@(() => Model.Sections.Add(new ExecutionTime()))"/>
            <AddSection Text="Add iterations" OnClick="@(() => Model.Sections.Add(new Iterations()))"/>
            <AddSection Text="Add metric" OnClick="@(() => Model.Sections.Add(new Metric()))"/>

            @* TODO: Add sections for reference management *@
        </div>
    </EditForm>
</div>
