<div class="container-fluid" @attributes="@AdditionalAttributes">
    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator/>

        <ContentSection Content="@Model.Content"/>

        <div class="card-deck">
            <DeadlinesSection Deadlines="@Model.Deadlines" OnRemove="@(() => Model.Deadlines = null)"/>
            <ExecutionTimeSection ExecutionTime="@Model.ExecutionTime" OnRemove="@(() => Model.ExecutionTime = null)"/>
            <IterationsSection Iterations="@Model.Iterations" OnRemove="@(() => Model.Iterations = null)"/>
            <MetricsSection Metrics="@Model.Metrics" OnRemove="@(() => Model.Metrics = null)"/>

            <SectionManagementSection/>

            @* TODO: Add sections for reference management *@
        </div>
    </EditForm>
</div>
