<div class="card position-relative">
    @if (!string.IsNullOrWhiteSpace(Todo.Content.Title))
    {
        <div class="card-header">
            <h4 class="card-title">@Todo.Content.Title</h4>
            <h6 class="card-subtitle mb-2 text-muted">@Todo.Participants.Author</h6>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Todo.Content.Description))
    {
        <div class="card-body">
            <p class="card-text">@Todo.Content.Description</p>
        </div>
    }

    <ul class="list-group list-group-flush">
        @foreach (var section in Todo.Sections)
        {
            <li class="list-group-item">

                @* TODO: Remove switch based on section type (hard to extend) *@
                @switch (section)
                {
                    case Deadline deadline:
                        <text>
                            Hard deadline: @deadline.Time<br/>(@deadline.Time.GetTimeLeftMessage())
                        </text>
                        break;
                    case ExecutionTime executionTime:
                        <text>@executionTime.Title: @executionTime.Time</text>
                        break;
                    case Iterations iterations:
                        // TODO: Move formatting of section info in separate class
                        var timeSpan = iterations.TimePerIteration != null
                            ? $" ({iterations.TimePerIteration.ToShortString()})"
                            : "";
                        <text>
                            Iterations@(timeSpan): @(iterations.Executed) / @(iterations.Required)
                            <button class="btn badge badge-pill badge-success"
                                    @onclick="@(() => IncrementIterations(iterations))">
                                +1
                            </button>
                        </text>
                        break;
                    case Metric metric:
                        <text>@metric.Title: @metric.Value</text>
                        break;
                    default:
                        throw new UnsupportedSectionException(section);
                }
            </li>
        }
    </ul>

    <div class="card-footer">
        <button type="button" class="btn btn-link" @onclick="@CardClicked">
            View
        </button>
    </div>
</div>
