<div class="container-fluid" @attributes="@AdditionalAttributes">
    <h5 class="h5">@Title</h5>

    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col form-group">
                <label>Title</label>
                <InputText class="form-control" @bind-Value="@Model.Content.Title" />
            </div>

            <div class="col form-group">
                <label>Description</label>
                <InputTextArea class="form-control" @bind-Value="@Model.Content.Description" />
            </div>
        </div>

        @if (Model.ExecutionTime == null)
        {
            <AddSection OnClick="@(() => Model.ExecutionTime = new ExecutionTime())" Text="Add execution time" />
        }

        @if (Model.Metrics == null)
        {
            <AddSection OnClick="@(() => Model.Metrics = new Metrics())" Text="Add metrics" />
        }

        @if (Model.Deadlines == null)
        {
            <AddSection OnClick="@(() => Model.Deadlines = new Deadlines())" Text="Add deadlines" />
        }

        @if (Model.Iterations == null)
        {
            <AddSection OnClick="@(() => Model.Iterations = new Iterations())" Text="Add iterations" />
        }

        <div class="row">
            @AdditionalButtons?.Invoke(EditContext)
            <button class="btn btn-secondary" type="reset" @onclick="@OnCancel">Close</button>
            <button class="btn btn-primary" type="submit" @onclick="@OnSubmit">Save changes</button>
        </div>
    </EditForm>
</div>
