<div class="container-fluid" @attributes="@AdditionalAttributes">
    <h5 class="h5">@Title</h5>

    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col form-group">
                <label>Title</label>
                <InputText class="form-control" @bind-Value="@Model.Content.Title" />
            </div>

            <div class="col form-group">
                <label>Description</label>
                <InputTextArea class="form-control" @bind-Value="@Model.Content.Description" />
            </div>
        </div>

        @if (Model.Deadlines != null)
        {
            <DeadlinesSection Deadlines="@Model.Deadlines"
                              RemoveSection="@(() => Model.Deadlines = null)"/>
        }

        @if (Model.ExecutionTime != null)
        {
            <ExecutionTimeSection ExecutionTime="@Model.ExecutionTime"
                                  RemoveSection="@(() => Model.ExecutionTime = null)"/>
        }

        @if (Model.Iterations != null)
        {
            <IterationsSection Iterations="@Model.Iterations"
                               RemoveSection="@(() => Model.Iterations = null)"/>
        }

        @if (Model.Metrics != null)
        {
            <MetricsSection Metrics="@Model.Metrics"
                            RemoveSection="@(() => Model.Metrics = null)"/>
        }

        <SectionsManagementSection Sections="@Sections"/>

        <div class="row">
            @* TODO: use Eventcallbacks here for each operation to determine if it's available *@
            @AdditionalButtons?.Invoke(EditContext)
            <button class="btn btn-secondary" type="reset" @onclick="@OnCancel">Close</button>
            <button class="btn btn-primary" type="submit" @onclick="@OnSubmit">Save changes</button>
        </div>
    </EditForm>
</div>
