<div class="container-fluid" @attributes="@AdditionalAttributes">
    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator/>

        <ContentSection Content="@Model.Content"/>

        <div class="card-columns">
            @if (Model.Deadlines != null)
            {
                <DeadlinesSection Deadlines="@Model.Deadlines" OnRemove="@(() => Model.Deadlines = null)"/>
            }

            @if (Model.ExecutionTime != null)
            {
                <ExecutionTimeSection ExecutionTime="@Model.ExecutionTime" OnRemove="@(() => Model.ExecutionTime = null)"/>
            }

            @if (Model.Iterations != null)
            {
                <IterationsSection Iterations="@Model.Iterations" OnRemove="@(() => Model.Iterations = null)"/>
            }

            @if (Model.Metrics != null)
            {
                <MetricsSection Metrics="@Model.Metrics" OnRemove="@(() => Model.Metrics = null)"/>
            }

            <SectionManagementSection/>

            @* TODO: Add sections for reference management *@
        </div>
    </EditForm>
</div>
