<div class="container-fluid" @attributes="@AdditionalAttributes">
    <EditForm EditContext="@EditContext">
        <DataAnnotationsValidator/>

        <div class="m-1">
            <ContentSection Content="@Model.Content"/>
        </div>

        <div class="card-deck m-1">
            @if (Model.Deadlines != null)
            {
                <DeadlinesSection Deadlines="@Model.Deadlines" OnRemove="@(() => Model.Deadlines = null)"/>
            }

            @if (Model.ExecutionTime != null)
            {
                <ExecutionTimeSection ExecutionTime="@Model.ExecutionTime" OnRemove="@(() => Model.ExecutionTime = null)"/>
            }

            @if (Model.Iterations != null)
            {
                <IterationsSection Iterations="@Model.Iterations" OnRemove="@(() => Model.Iterations = null)"/>
            }

            @if (Model.Metrics != null)
            {
                <MetricsSection Metrics="@Model.Metrics" OnRemove="@(() => Model.Metrics = null)"/>
            }

            @if (Model.Deadlines == null)
            {
                <AddSection Text="Add deadlines" OnClick="@(() => Model.Deadlines = new Deadlines())"/>
            }

            @if (Model.ExecutionTime == null)
            {
                <AddSection Text="Add execution time" OnClick="@(() => Model.ExecutionTime = new ExecutionTime())"/>
            }

            @if (Model.Iterations == null)
            {
                <AddSection Text="Add iterations" OnClick="@(() => Model.Iterations = new Iterations())"/>
            }

            @if (Model.Metrics == null)
            {
                <AddSection Text="Add metrics" OnClick="@(() => Model.Metrics = new Metrics())"/>
            }

            @* TODO: Add sections for reference management *@
        </div>
    </EditForm>
</div>
