@page "/tasks/update/{GuidStr}"

<div class="container-fluid">
    <h5 class="h5">@Task.Title</h5>

    <p>@Task.Description</p>

    <div class="row">
        <button class="btn btn-danger ml-auto" type="button" @onclick="@Delete">Delete</button>

        <button class="btn btn-secondary" type="button" @onclick="@Cancel">Close</button>
        <button class="btn btn-primary" type="button" @onclick="@Submit">Save changes</button>
    </div>
</div>
