@page "/signin"

<EditForm Model="@User" OnValidSubmit="@Submit">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="email"/>
        @*<ValidationMessage For="@(x => x.Username)"/>*@
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password"/>
        @*<ValidationMessage For="@(x => x.Password)"/>*@
    </div>

    <div class="row">
        <button class="btn btn-secondary" type="reset" @onclick="@GoBack">Cancel</button>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </div>
</EditForm>
