<input type="number" style="width: 8rem;" @bind="@Value.Amount" @attributes="@AdditionalAttributes" />

<select @bind="@Value.Period">
    <option value="@TimePeriod.Seconds">second(s)</option>
    <option value="@TimePeriod.Minutes">minute(s)</option>
    <option value="@TimePeriod.Hours">hour(s)</option>
    <option value="@TimePeriod.Days">day(s)</option>
    <option value="@TimePeriod.Weeks">week(s)</option>
    <option value="@TimePeriod.Months">month(s)</option>
    <option value="@TimePeriod.Years">year(s)</option>
</select>
