<div class="d-block">
    <input type="number" class="tp-input-number-w50 text-right"
           @bind="@Value.Amount"/>

    <select class="tp-input-select" @bind="@Value.Period">
        <option value="@TimePeriod.Seconds">second(s)</option>
        <option value="@TimePeriod.Minutes">minute(s)</option>
        <option value="@TimePeriod.Hours">hour(s)</option>
        <option value="@TimePeriod.Days">day(s)</option>
        <option value="@TimePeriod.Weeks">week(s)</option>
        <option value="@TimePeriod.Months">month(s)</option>
        <option value="@TimePeriod.Years">year(s)</option>
    </select>
</div>
