<SectionCardTemplate Value="@Deadlines" RemoveSection="@RemoveSection" @attributes="@AdditionalAttributes">
    <Header>
        Deadlines
    </Header>

    <Content>
        <div class="row">
            <div class="col form-group">
                <label>Soft deadline</label>
                <input type="datetime-local" class="form-control" @bind="@Deadlines.SoftDeadline" />
            </div>

            <div class="col form-group">
                <label>Hard deadline</label>
                <input type="datetime-local" class="form-control" @bind="@Deadlines.HardDeadline" />
            </div>
        </div>
    </Content>
</SectionCardTemplate>
