<SectionCardTemplate Value="@ExecutionTime" RemoveSection="@RemoveSection" @attributes="@AdditionalAttributes">
    <Header>
        Execution time
    </Header>
    
    <Content>
        <div class="row">
            <div class="col form-group">
                <label>Estimated time</label>
                <input type="time" class="form-control" @bind="@ExecutionTime.EstimatedTime" />
            </div>

            <div class="col form-group">
                <label>Time spent</label>
                <input type="time" class="form-control" @bind="@ExecutionTime.TimeSpent" />
            </div>
        </div>
    </Content>
</SectionCardTemplate>
