<SectionCardTemplate Value="@Iterations" RemoveSection="@RemoveSection" @attributes="@AdditionalAttributes">
    <Header>
        Iterations
    </Header>

    <Content>
        <div class="row">
            <div class="col form-group">
                <label>Iterations executed</label>
                <InputNumber class="form-control" @bind-Value="@Iterations.Executed" />
            </div>

            <div class="col form-group">
                <label>Iterations total</label>
                <InputNumber class="form-control" @bind-Value="@Iterations.Required" />
            </div>

            <div class="col form-group">
                <label>Time per iteration</label>
                <input type="time" class="form-control" @bind="@Iterations.TimePerIteration" />
            </div>
        </div>
    </Content>
</SectionCardTemplate>
